@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@300&family=Mulish:wght@200;500&family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');

.orange {
    color: #FF6900;
}

.bold {
    font-weight: bold;
}

p,
h2,
h3 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h2 {
    color: #495464;
    font-size: 48px;
}

.AboutUsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
    padding-bottom: 90px;
    gap: 3%;
    background-color: #fff;
    margin: 40px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

.AboutUsContainerBox {
    width: 700px;
}

img {
    width: 700px;
}