.PaymentPageHeader {
    text-align: left;
}

.PaymentContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;

}

/* forms */
.PaymentContainerBox {
    background-color: #fff;




}

form {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 30px;
    z-index: 10;
}

.cityInput {
    width: 291px;
}



.postalCodeInput {
    width: 170px;
    margin-left: 30px;

}

input {
    width: 510px;
    margin-bottom: 10px;
    padding: 8px;
}

.red {
    color: #f00;
}

.PaymentContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.alignCityAndPostCode {
    display: flex;
}

.checkoutButton {
    margin-top: 6em;
    background-color: #FF6900;
    color: #F4F4F2;
    width: 131px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 10px 0;

}

/* Payment overview */

.overview {
    display: grid;
    grid-column: 100px 300px;
    width: 500px;
    height: 350px;
    gap: 5%;
    padding: 20px 40px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.border-line {
    border-top: solid 1px #D2D2D2;
    width: 500px;
    ;
}

.TotalPrice {
    text-align: right;
}

.AcceptTerms {
    display: inline;


}



.AcceptTermsOptions {
    padding-top: 50px;
    /* margin-left: -100px; */
    text-align: left;
    background-color: #D5D5D5;

}

input[type="radio"] {
    margin-right: -230px;
    z-index: 0;


}

/* Delivery method */
.method-options {
    display: flex;
}

.btn-method {
    border: solid 1px #495464;
    margin: 1%;
    width: 130px;
    font-size: 14px;
    color: #495464;



}

.deliveryMethodContainer {
    background-color: #D5D5D5;
    width: 500px;
    height: 600px;
}