@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@300&family=Mulish:wght@200;500&family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');

.ContactPageHeader {
    font-size: 48px;
    font-family: 'Open Sans', sans-serif;
    color: #495464;
    padding-bottom: 0.5em;
}

form {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #fff;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.form__button {
    color: #F4F4F2;
    background-color: #FF6900;
    padding: 7px 18px;
    padding-top: 7px;
    margin-top: 2em;
    border: none;
    margin-left: auto;
    height: 45px;
    width: 135px;
    font-size: 18px;

}

.red {
    color: #FF0000
}

input {
    width: 60%;
    background-color: #E8E8E8;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

textarea {
    background-color: #E8E8E8;
    border: none;
    resize: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.ContactPageExternalLink {
    font-family: 'Open Sans', sans-serif;
}

.orange {
    color: #FF6900;
}




/* NEW STYLES */
.input__fullNameBox {
    display: grid;
    row-gap: 0.5rem;
}
.input__fullNameBox>label { font-size: 1.25rem; }
.input__fullNameBox>input {
    height: 2.5rem;
    font-size: 1.5rem;
}


.input__emailBox {
    display: grid;
}
.input__emailBox>label {
    font-size: 1.25rem;
}
.input__emailBox>input {
    height: 2.5rem;
    font-size: 1.5rem;
}


.input__subjectBox {
    display: grid;
}
.input__subjectBox>label {
    font-size: 1.25rem;
}
.input__subjectBox>input {
    height: 2.5rem;
    font-size: 1.5rem;
}


.input__textBox {
    display: grid;
}
.input__textBox>label {
    font-size: 1.25rem;
}
.input__textBox>input {
    height: 2.5rem;
    font-size: 1.5rem;
}



/*=============================================
=               FINAL MESSAGE                  =
=============================================*/
.finalMessage {
    border: 2px solid black;
    border-radius: 0.5rem;
}
.bg {
    margin: 0.2rem 0.5rem;
    padding: 0.3rem 0.6rem;
    /* box-shadow: 3px 3px 5px black; */
    border-radius: 0.5rem;
}
.bg>p {
    font-weight: 400;
    font-size: 1.2rem;
    border-top: 1px solid black;
    border-bottom: solid 1px black;
    padding: 0.5rem 0.2rem;
}
