@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
body{
    background-color: green;
}
.navbar{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: black;
    max-width: 1200px;
    height: 90px;
}
.navi{
    display:flex;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
ul{
    list-style-type: none;
}
.navi a{
    color:white;
    text-decoration: none;
    /* margin: 0 8px; */
    font-size: 14px;
}
ul.navi{
    display: flex;
    align-items: center;
}
.item{
    line-height: 35px;
}
.item p{
    padding-right: 10px;
    color: black;
    font-weight: 700;
}
.menu{
    margin: 0 25px;
}
.navicons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
    font-size: 2em;
    margin: 0 1.5em;;
}
.navi img{
    width: 57px;
    height: 57px;
    margin-left: 2em;
}
.container{
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
}
input{
    width: 200px;
    background-color: #E8E8E8;
    color: black;
    margin: 0;
    padding: 0;
    border: 0;
}
.btn{
    background-color: #E8E8E8;
    align-items: center;
    padding: 0;
    border: 0;
    font-size: 20px;
    padding-top: 5px;
}
::placeholder{
    color: black;
    font-family: 'Open Sans', sans-serif;
    padding-left: 15px;
}
.showHide{
    display: none;
}
.shop{
    position: absolute;
    /* top:43px; */
    left: 17%;
    display: flex;
}
.products{
    position: absolute;
    top: 60px;
    background-color: white;
    width: 200px;
    height: 350px;
    left: 20px;
    padding-left: 22px;
}
.products a{
    color:#A39161;
}
.cart{
    position: absolute;
    background-color: white;
    height: 300px;
    width: 200px;
    top: 90px;
    right: 0;
    color: black;
}
.addtocart{
    padding-left: 10px;
    color: white;
}
.person{
    color: white;
}
.searchInputs{
    display: flex;
    background-color: #E8E8E8;
    box-shadow: none;
}
.search input {
    border: 0;
    font-size: 12px;
    /* padding: 15px; */
    width: 200px;
    height: 38px;
    background-color: #E8E8E8;
}
.searchIcon{
    height: 38px;
    width: 30px;
    background-color: #E8E8E8;
    display: grid;
    place-items: center;
}