@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.navbar{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: black;
    max-width: 1200px;
    height: 90px;
}
.navi{
    display:flex;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
ul{
    list-style-type: none;
}
.navi a{
    color:white;
    text-decoration: none;
    margin: 0 8px;
    font-size: 14px;
}
ul.navi{
    display: flex;
    align-items: center;
}
.navi li{
    margin: 0 25px;
}
.container{
    margin: 0 0;
}
/* .searchbar{
    height: 3px;
} */
.navicons{
    display:flex;
    color: white;
    padding-left:50px;
}
.navicons a{
    color:white;
    margin: 0 10px;
    font-size: 30px;
}
.navi img{
    width: 57px;
    height: 57px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
}
input{
    width: 201px;
    height: 35px;
    background-color: #E8E8E8;
    color: black;
    margin: 0;
    padding: 0;
    border: 0;
}
button{
    height:35px;
    width: 35px;
    background-color: #E8E8E8;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 20px;
}
button img{
    font-size: 30px;
}
::placeholder{
    color: black;
    font-family: 'Open Sans', sans-serif;
    padding-left: 15px;
}
